<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CAPA Tracker</title>
        <!--stylesheet-->
        <link rel="stylesheet" href="/style.css">
        <!--GOOGLE FONT-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
        <!--ICONS-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>
        <h1>CAPA Tracker Module</h1>
        <div class="capa-tracking-container">

            <section class="capa-submission">
                <!-- forms can interface DIRECTLY with some of our CRUD operations (ex. sending post requests to server) -->
                <form action="/" method="POST" class="item-header">
                    <h2>Submit a New CAPA Report</h2>
                    <!-- CAPA Number -->
                    <label>CAPA Number: </label>
                    <input type="text" name="capaNumber">

                    <!-- Approval status -->
                    <label>Approval Status:</label>
                    <select name="capaStatus">
                        <option value="Pending">Pending</option>
                        <option value="Approved">Approved</option>
                        <option value="Rejected">Rejected</option>
                    </select>

                    <!-- CAPA Phase -->
                    <label>Phase:</label>
                    <!-- <input type="text" name="capaPhase" placeholder="CAPA Phase"> -->
                    <select name="capaPhase">
                        <option value="Initiation">Initiation</option>
                        <option value="Risk Assessment">Risk Assessment</option>
                        <option value="Containment & Correction">Containment & Correction</option>
                        <option value="Investigation/Root Cause Anaylysis">Investigation/Root Cause Anaylysis</option>
                        <option value="Corrective/Preventive Actions">Corrective/Preventive Actions</option>
                        <option value="Implementation">Implementation</option>
                        <option value="VOE">VOE</option>
                        <option value="Closure">Closure</option>
                    </select>

                    <!-- Product Impact -->
                    <label>Product Impacted: </label>
                    <input type="text" name="productImpacted">

                    <!-- Problem Statement -->
                    <label>Problem Statement:</label>
                    <!-- <input type="text" name="problemStatement" placeholder="Problem Statement"> -->
                    <textarea name="problemStatement" rows="5" cols="50"></textarea>

                    <!-- Date approved/rejected -->
                    <label>Approval/Rejection Date (or due date) - UTC Timezone:</label>
                    <input type="date" name="dateCapaApproved" required>

                    <!-- phase due date -->
                    <label>Current Phase Due Date - UTC Timezone:</label><input type="date" name="currentPhaseDueDate" required>
                    <button type="submit"><span class="fas fa-plus">Add CAPA</span></button>
                </form>
            </section>

            <!-- Loop through and display all capas currently in database: -->
            <section class="capa-collection">
                <h2>Open CAPAs</h2> 
                <ul>
                    <% capaReports.forEach(capa => {%> <!--Can name parameter whatever, let's use "capa" though to line up with the name of our db collection-->
                        <li class="single-capa-item">
                            <div>
                                <%= capa.capaNumber %>
                            </div>
                            <div class="fifo-list-item-expiration-date">
                                <span class="due-prefix">Current Phase Due Date: </span>
                                <span><%= capa.currentPhaseDueDate.toDateString()%> (UTC)</span>
                                <!--toDateString() converts date format-->
                            </div>
                            <!-- edit button and trash button -->
                            <!-- grab the id of the capa we're currently on and send it -->
                            <div class="button-container">
                                <a href="/edit/<%=capa._id %>" class="edit"><span class="fas fa-edit"></span></a>
                                <a href="/remove/<%=capa._id %>" class="remove"><span class="fas fa-trash"></span></a>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </section>

        </div>        
    </body>
</html>