<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>CAPA Tracking - Login</title>
</head>
    <body class="login-body">
        <header class="box-shadow">
            <div class="logout">
                <div class="logo-and-title">
                    <img src="/images/capa-tracking-logo.svg" alt="capa logo">
                    <h1>CAPA Tracker</h1>
                </div>
            </div>
        </header>
        <div class="login-details">
            <h3>Sign in with <a class="log-in" href="/auth/google">Google Authentication</a></h3>
            
            <h4>CAPA Tracker - By <a class="log-in" target="_blank" href="https://coreydamocles.netlify.app/">Corey Damocles</a></h4>
            <p>Document and track CAPA reports with CAPA Tracker! This full-stack application allows users to create CAPA records, add information, update information, and delete entries. This application was developed with JavaScript (EJS templating language), HTML/CSS, Node/Express, Passport (Google authentication), and MongoDB. CAPA Tracker is currently a minimal viable product (MVP) and is not production-ready.</p>
            <a href="https://github.com/ubemacapuno" target="_blank"><img src="/images/github.svg" alt="capa logo"></a>
            <a href="https://www.linkedin.com/in/corey-damocles/" target="_blank"><img src="/images/linkedin.svg" alt="capa logo"></a>
        </div>
    </body>
</html>