<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>CAPA Tracking - Login</title>
</head>
    <body>
        <header class="box-shadow">
            <div class="logout">
                <div class="logo-and-title">
                    <img src="/images/capa-tracking-logo.svg" alt="capa logo">
                    <h1>CAPA Tracker App</h1>
                </div>
            </div>
        </header>
        <div class="login-details">
            <h3>CAPA Tracking - By Corey Damocles</h3>
            <div>
                <p>Document and Track CAPA Reports</p>
            </div>

            <div class="log-in-container">
                <h3>Sign in with <a href="/auth/google">Google:</a></h3>
            </div>
            
        </div>
    </body>
</html>