:root {
    --pure-white: rgb(255, 255, 255);
	--primary-color: #02727C;
	--secondary-color: #F2C23E;
	--tertiary-color: #74C8C6;
	--white: #FDFDFF;
	--off-white: #EDEEEF;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #333335;
	--dark-color: #323334;
	--light-color: #ECEEEF;
	--gray-background: rgb(92, 92, 92);
    font-family: 'Roboto Mono', monospace;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 100%;
	color: var(--text-color);
	background-color: var(--gray-background);
} /*16px*/

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--nav-text-color);
  background: var(--secondary-accent-color);
}

form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border: 2px solid var(--dark-color);
	border-radius: 10px;
	width: 500px;
	background-color: var(--tertiary-color);
}

h1 {
	color: var(--secondary-color);
	text-align: center;
}

h2 {
	color: var(--secondary-color);
}

.capa-submission h2 {
	color: var(--dark-color);
}

input, select, textarea{
	margin: 0 0.8rem 1.2rem 0.8rem;
}

h2, label {
	padding: 0.8rem 0.8rem 0 0.8rem;
	font-weight: bold;
}

input {
	padding: 0.2rem 0.5rem;
	
}

textarea {
	resize: none;
	padding: 1rem;
}

.cancel {
	text-decoration: none;
}

button, .cancel-button {
	height: 40px;
	margin: 1rem;
	width: 100px;
	padding: 0.5rem;
	font-size: 0.9rem;
	background-color: var(--dark-color);
	border-radius: 5px;
	border: 1px solid var(--text-color);
	color: var(--off-white);
	cursor: pointer;
	transition: all 0.2s;
	text-align: center;
}

button:hover, .cancel-button:hover {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.capa-tracking-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.capa-collection {
	height: 500px;
	overflow: auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border: 2px solid var(--dark-color);
	border-radius: 10px;
	color: var(--white);
	background-color: var(--primary-color);
	padding: 1rem;
	width: 500px;
	margin-top: 1rem;
}

.single-capa-item {
	padding: 2rem 0;
	list-style: none;
	border-bottom: 1px solid var(--white);
	border-top: 1px solid var(--white);
}

.due-prefix {
	color: var(--secondary-color)
}

.button-container a, .cancel-button a{
	color: var(--tertiary-color);
	transition: all 0.2s;
}

.button-container a:hover, .cancel-button a:hover {
	color: var(--dark-color);
}

.edit-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Classes and Pseudo-elements specific for Edit page */
.edit-approval-status, .edit-phase, .edit-date-capa-approved, .edit-current-phase-date, .edit-product-impacted, .edit-capa-number {
	color: var(--primary-color);
	font-size: 1.2rem;
}

.edit-phase::before, .edit-approval-status::before, .edit-date-capa-approved::before, .edit-current-phase-date::before, .edit-product-impacted::before, .edit-capa-number::before {
	color: var(--text-color);
	font-size: 1rem;
}

.edit-capa-number::before {
	content:"Current CAPA Number: ";
}

.edit-phase::before {
	content:"Current Phase: ";
}

.edit-approval-status::before {
	content:"Current Approval Status Status: ";
}

.edit-date-capa-approved::before {
	content:"Current Approval or Rejection Date (or due): ";
}

.edit-current-phase-date::before {
	content:"Current Phase Due Date: ";
}

.edit-product-impacted::before {
	content: "Product Line Impacted (if applicable): "
}