html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
} /*16px*/

body {
  background: white;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

#capa-tracker {
	color: var(--secondary-color);
}

p {margin-bottom: 1rem;}

h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 2.488rem;
}

h1, .about-title {
	margin-top: 0;
	text-shadow: 5px 5px 4px var(--text-color);
	color: var(--secondary-color);
	text-align: center;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {
	font-size: 1.44rem;
	color: var(--secondary-color);
}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}
/* FONT SCALE */

:root {
    --pure-white: rgb(255, 255, 255);
	--primary-color: #02727C;
	--secondary-color: #F2C23E;
	--tertiary-color: #74C8C6;
	--white: #FDFDFF;
	--off-white: #EDEEEF;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #333335;
	--dark-color: #323334;
	--light-color: #ECEEEF;
	--gray-background: rgb(179, 179, 179);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
	color: var(--text-color);
	background-color: var(--gray-background);
	background: linear-gradient(0deg, rgba(128,177,177,1) 0%, rgba(255,246,228,1) 100%);
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:fixed;
} 

body {
  font-weight: 400;
  line-height: 1.75;
  color: var(--nav-text-color);
  background: var(--secondary-accent-color);
}

header {
	background-color: var(--primary-color);
	width: 100%;
}

.box-shadow {
	border: 1px solid;
	box-shadow: 1px 4px 6px var(--dark-color);
}

.logo-and-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 1rem;
}

.logo-and-title img {
	padding: 0 1rem;
}

.login-details {
	color: var(--white);
	width: 500px;
	margin: 1rem auto;
	padding: 1rem;
	border: 1px solid var(--dark-color);
	border-radius: 5px;
	background-color: var(--primary-color);
}

.about-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 1rem;
}

.log-in-container{
	margin: 3rem 0;
}

.google-login {
	display: flex;
	justify-content: center;
	padding: 2rem;
	transition: all 0.2s;
}

.social {
	padding-right: 1rem;
}

.google-login:hover, .social:hover {
	transform: scale(1.1);
	font-weight: bold;
}

.about {
	padding: 1rem 0;
}

.logout {
	display: flex;
	justify-content: space-between;
	align-items: flex-end; 
	padding: 0.5rem 1rem 0;
}

.logout a{
	color: var(--white);
	transition: all 0.2s;
	text-decoration: none;
}

.logout a:hover {
	color: var(--tertiary-color);
}

.log-in {
	color: var(--secondary-color);
	transition: all 0.2s;

}

.log-in:hover {
	color: var(--tertiary-color);
}

form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border: 2px solid var(--dark-color);
	border-radius: 10px;
	height: 804px;
	width: 500px;
	background-color: var(--tertiary-color);
}


h2 {
	color: var(--secondary-color);
}

.edit-header {
	color: var(--dark-color);
}

.capa-submission h2 {
	color: var(--dark-color);
}

input, select, textarea{
	margin: 0 0.8rem 1.2rem 0.8rem;
}

h2, label {
	padding: 0.8rem 0.8rem 0 0.8rem;
	font-weight: bold;
}

input {
	padding: 0.2rem 0.5rem;
	
}

textarea {
	resize: none;
	padding: 1rem;
}

.cancel, .edit-dates {
	text-decoration: none;
}

button, .cancel-button, .edit-dates-button {
	height: 40px;
	margin: 1rem;
	width: 100px;
	padding: 0.5rem;
	font-size: 0.9rem;
	background-color: var(--dark-color);
	border-radius: 5px;
	border: 1px solid var(--text-color);
	color: var(--off-white);
	cursor: pointer;
	transition: all 0.2s;
	text-align: center;
}

button:hover, .cancel-button:hover, .edit-dates-button:hover {
	color: var(--primary-color);
	background-color: var(--off-white);
}

.capa-tracking-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 1rem;
}

.capa-counter {
	padding: 1rem;
}

.capa-collection {
	height: 804px;
	overflow: auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border: 2px solid var(--dark-color);
	border-radius: 10px;
	color: var(--white);
	background-color: var(--primary-color);
	padding: 1rem;
	width: 500px;
}

.single-capa-item {
	padding: 2rem 0;
	list-style: none;
	border-top: 1px solid var(--white);
}

.open-prefix {
	color: var(--secondary-color)
}

.button-container {
	display: flex;
	justify-content: flex-start;
}

.button-container a {
	margin: 0.5rem 3rem 0.5rem 0;
}

.button-container a, .cancel-button a{
	color: var(--tertiary-color);
	transition: all 0.2s;
}

.button-container a:hover, .cancel-button a:hover {
	color: var(--dark-color);
}

.edit-form{
	height: 700px;
}

.edit-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.edit-button-container {
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
}

/* Classes and Pseudo-elements specific for Edit page */
.edit-approval-status, .edit-phase, .edit-date-capa-approved, .edit-current-phase-date, .edit-product-impacted, .edit-capa-number {
	color: var(--primary-color);
}

.edit-phase::before, .edit-approval-status::before, .edit-date-capa-approved::before, .edit-current-phase-date::before, .edit-product-impacted::before, .edit-capa-number::before {
	color: var(--text-color);
}

.edit-capa-number::before {
	content:"Current CAPA Number: ";
}

.edit-phase::before {
	content:"Current Phase: ";
}

.edit-approval-status::before {
	content:"Current Approval Status Status: ";
}

.edit-date-capa-approved::before {
	content:"Current Approval or Rejection Date (or due): ";
}

.edit-current-phase-date::before {
	content:"Current Phase Due Date: ";
}

.edit-product-impacted::before {
	content: "Product Line Impacted (if applicable): "
}

@media screen and (max-width: 1050px) {
	.capa-tracking-container {
		flex-direction: column;
		align-items: center;
		/* justify-content: center; */
	}

	.capa-collection {
		margin-top: 1rem;
	}
  }

